[tool.poetry]
name = "snakemake-interface-storage-plugins"
version = "0.1.0"
description = "This package provides a stable interface for interactions between Snakemake and its storage plugins."
authors = ["Johannes Koester <johannes.koester@uni-due.de>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
snakemake-interface-common = "^1.9.1"
wrapt = "^1.15.0"
reretry = "^0.11.8"
connection-pool = "^0.0.3"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
coverage = {extras = ["toml"], version = "^6.3.1"}
flake8 = "^4.0.1"
flake8-bugbear = "^22.1.11"
pytest = "^7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
